<div class="container-fluid  mt-100">
  <div class="row">  
    <div class="col-md-12">
      <div class="card-body cart">
        <div class="col-sm-12 empty-cart-cls text-center">
          <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
          <h3><strong>Your Cart is Empty</strong></h3>
          <h6>There is currently nothing in your cart. Head to the home page to add items.</h6>
          <a href="#" class="btn btn-primary cart-btn-transform m-3" data-abc="true">Go to home page</a>
        </div>
      </div>
    </div>
  </div>
</div>