<tr>
  <td>
    <span class="nav-item"><%= link_to category.name, category, class: "nav-link px-2 text-muted" %></span>
  </td>
  <td>
    <span class="badge bg-success rounded-pill"><%= category.products.count %></span>
  </td>
   
</tr>