<div class="card text-center mt-5">
  <div class="card-header">
    MEET OUR TEAM
  </div>
  <div class="card-body">
    <p class="card-text">We are all very different. We were born in different cities, at different times, we love different music, food, movies. But we have something that unites us all. It is our company. We are its heart. We are not just a team, we are a family.</p>
  </div>
  <div class="card-footer text-muted"></div>
</div>
